.cell {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.playableCell1 {
  background: rgb(3, 86, 141);
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.playableCell2 {
  background: rgb(146, 7, 211);
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.nplayable {
  background: rgb(211, 211, 211);
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.lastPlayedCell1 {
  background: rgba(241, 168, 241, 0.979);
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.lastPlayedCell2 {
  background: rgba(20, 76, 228, 0.932);
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}



.cell:focus {
  outline: none;
}

.l1board {
  display: grid;
  grid-template-columns: 34px 34px 34px;
  grid-template-rows: 34px 34px 34px;
}

.l2board {
  display: grid;
  grid-template-columns: 102px 102px 102px;
  grid-template-rows: 102px 102px 102px;
  grid-gap: 10px;
}

.l3board {
  display: grid;
  grid-template-columns: 316px 316px 316px;
  grid-template-columns: 316px 316px 316px;
  grid-gap: 15px;
}
