.game {  
  background: Transparent;
  display: inline-block;
}

.faded {
  opacity: .7;
}

.historybar {
  display: flex;
  float: right;
}

.cell {
  border: none;
  justify-content: center;
  display: flex;
  background: Transparent;
}

.highlight {
  border: 1px solid rgba(146, 7, 211);
  box-shadow: 1px 1px 1px rgba(146, 7, 211, .6), 
              -1px -1px 1px rgba(146, 7, 211, .6), 
              1px -1px 1px rgba(146, 7, 211, .6),
              -1px 1px 1px rgba(146, 7, 211, .6);
}

.l2game {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.game {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.l3 {
  height: 20px;
  width: 20px;
  font-size: 14px;
}

.l2 {
  height: 66px;
  width: 66px;
  font-size: 42px;
}

.l1 {
  height: 198px;
  width: 198px;
  font-size: 126px;
}

.hovered {
  color: rgba(0, 0, 0, .4);
}

.playableCell1 {
  border: none;
  justify-content: center;
  display: flex;
  background: rgba(3, 86, 141, .6);
}

.playableCell2 {
  border: none;
  justify-content: center;
  display: flex;
  background: rgba(146, 7, 211, .6);
}

.nplayable {
  border: none;
  justify-content: center;
  display: flex;
  background: rgba(211, 211, 211);
}


.lastPlayedCell1 {
  border: none;
  justify-content: center;
  display: flex;
  background: rgba(241, 168, 241, 0.879);
}

.lastPlayedCell2 {
  border: none;
  justify-content: center;
  display: flex;
  background: rgba(20, 76, 228, 0.832);
}


.l2Score {
  justify-content: center;
  display: flex
}

.l2Score-l3 {
  height: 62px;
  width: 62px;
  line-height: 60px;
  font-size: 56px;
}

.l2Score-l2 {
  height: 202px;
  width: 202px;
  line-height: 180px;
  font-size: 168px;
}

.l3Score {
  height: 202px;
  width: 202px;
  line-height: 202px;
  justify-content: center;
  font-size: 196px;
  display: flex
}

.l1table {
  vertical-align: middle;
  font: bold 12px sans-serif;
  border-collapse: collapse;
  text-align: center;
}

.l1table::before {
  content: attr(data-score);
  justify-content: center;
  height: 33.33%;
  width: 33.33%;
}

.l2table { 
  text-align: center;
  vertical-align: middle;
  border-collapse: collapse;
  display: flex;
  width: 100%;
  height: 100%;
}

.l3table {
  text-align: center;
  vertical-align: middle;
  border-collapse: collapse;
}

td#cellL10, td#cellL11, td#cellL12, td#cellL13, td#cellL14, td#cellL15 {
  border-bottom: 1px solid #930;
}

td#cellL10, td#cellL11, td#cellL13, td#cellL14, td#cellL16, td#cellL17 {
  border-right: 1px solid #930;
}

td#cellL10, td#cellL11, td#cellL12, td#cellL13, td#cellL14, td#cellL15, #cellL16, td#cellL17, td#cellL18 {
   padding: 0px;
}

td#cellL20, td#cellL21, td#cellL22, td#cellL23, td#cellL24, td#cellL25 {
  border-bottom: 2px solid #930;
}

td#cellL20, td#cellL21, td#cellL23, td#cellL24, td#cellL26, td#cellL27 {
  border-right: 2px solid #930;
}

td#cellL20, td#cellL21, td#cellL22, td#cellL23, td#cellL24, td#cellL25, #cellL26, td#cellL27, td#cellL28 {
  padding: 2px;
}

td#cellL30, td#cellL31, td#cellL32, td#cellL33, td#cellL34, td#cellL35 {
  border-bottom: 3px solid #930;
}

td#cellL30, td#cellL31, td#cellL33, td#cellL34, td#cellL36, td#cellL37 {
  border-right: 3px solid #930;
}

td#cellL30, td#cellL31, td#cellL32, td#cellL33, td#cellL34, td#cellL35, #cellL36, td#cellL37, td#cellL38 {
  padding: 3px;
}

/*for l2game*/
td#cellL10-l2, td#cellL11-l2, td#cellL12-l2, td#cellL13-l2, td#cellL14-l2, td#cellL15-l2 {
  border-bottom: 2px solid #930;
}

td#cellL10-l2, td#cellL11-l2, td#cellL13-l2, td#cellL14-l2, td#cellL16-l2, td#cellL17-l2 {
  border-right: 2px solid #930;
}

td#cellL10-l2, td#cellL11-l2, td#cellL12-l2, td#cellL13-l2, td#cellL14-l2, td#cellL15-l2, #cellL16-l2, td#cellL17-l2, td#cellL18-l2 {
   padding: 0px;
}

td#cellL20-l2, td#cellL21-l2, td#cellL22-l2, td#cellL23-l2, td#cellL24-l2, td#cellL25-l2 {
  border-bottom: 3px solid #930;
}

td#cellL20-l2, td#cellL21-l2, td#cellL23-l2, td#cellL24-l2, td#cellL26-l2, td#cellL27-l2 {
  border-right: 3px solid #930;
}

td#cellL20-l2, td#cellL21-l2, td#cellL22-l2, td#cellL23-l2, td#cellL24-l2, td#cellL25-l2, #cellL26-l2, td#cellL27-l2, td#cellL28-l2 {
  padding: 3px;
}

/*for l1game*/
td#cellL10-l1, td#cellL11-l1, td#cellL12-l1, td#cellL13-l1, td#cellL14-l1, td#cellL15-l1 {
  border-bottom: 3px solid #930;
}

td#cellL10-l1, td#cellL11-l1, td#cellL13-l1, td#cellL14-l1, td#cellL16-l1, td#cellL17-l1 {
  border-right: 3px solid #930;
}

td#cellL10-l1, td#cellL11-l1, td#cellL12-l1, td#cellL13-l1, td#cellL14-l1, td#cellL15-l1, #cellL16-l1, td#cellL17-l1, td#cellL18-l1 {
   padding: 3px;
}
